body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff8f0;
    color: #333;
}

header {
    background-color: #8b5e3c;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    margin: 15px;
    font-weight: bold;
    text-decoration: none;
    color:white;
}

nav a:hover {
    color: gold;
}

main {
    padding: 30px;
    text-align: center;
}

button {
    background-color: #8b5e3c;
    color: white;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #6d472b;
}

footer {
    background-color: #8b5e3c;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
