body{
    margin: 0;
    font-family: Relieve, serif;
}
.hero{
    height: 100vh;
    background-image: url("BGLAND.PNG");
    background-size: cover;
    background-position: center;
    color:#F8F4EF;
    display: flex;
    flex-direction: column;
}
.hero{
    height:100vh;
    display:flex;
    flex-direction:column;
}
header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 20px 60px;
    transition:.4s;
    z-index:1000;
}
nav{
    align-items: right;
    margin-right: 70px;
}
.logo{
    color:white;
    font-size: 30px;
    font-weight: bold;
}
nav a{
    color:white;
    text-decoration:none;
    margin-left: 30px;
    font-size:18px;
    transition:.3s;
}
nav a.active{
    color:#E6D3C3;
    border-bottom:2px solid #E6D3C3;
    padding-bottom: 5px;
}
nav a:hover{
    color: #e6d3c3;
}
header.scrolled{
    background: rgba(74, 52, 40, 0.15);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-bottom: 1px solid rgba(74, 52, 40, 0.2);
}
header.scrolled .logo{
    color:white;
}
head.scrolled .nav a{
    color:white;
}

.hero{
    padding-top: 100px;
}
.content{
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.content h1{
    font-size: 70px;
}
button{
    padding: 15px 40px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.values{
    background:#F4EFE8;
    padding:8% 120px;
}.small-title{
    display:block;
    letter-spacing:4px;
    text-transform:uppercase;
    color:#A57C5B;
    font-size:14px;
    margin-bottom:15px;
}
.intro{
    max-width:750px;
    margin:0 auto 80px auto;
    text-align:center;
}
.intro h2{
    font-size:58px;
    color:#4A3428;
    margin-bottom:25px;
    line-height:1.1;
    font-family:'Playfair Display',serif;
}
.intro p{
    font-size:19px;
    line-height:1.8;
    color:#6B584C;
}
.value-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:60px;
    max-width:1200px;
    margin:auto;
}
.value-box{
    text-align:left;
}
.value-box h3{
    font-size:28px;
    color:#4A3428;
    margin-bottom:15px;
    margin-left: 10px;
}
.value-box p{
    color:#7B695C;
    line-height:1.8;
    margin-left: 10px;
}
h1, h2, h3{
    font-family: "Playfair Display", serif;
}

body{
    font-family: "Poppins", sans-serif;
}
.footer{
    font-family: Arial;
    font-size: 13px;
    background-color: #4A3428;
    color: #F8F4EF;
    text-align: center;
    padding: 20px;
}
.about h2{
    margin-left: 50px;
}
.about p{
    max-width: 800px;
    margin: 10px auto;
    font-size: 18px;
    line-height: 1.6;
    color:#4A3428;
}

