body{
    margin: 0;
    font-family: Reliev, Poppins, serif, sans-serif, ;
}
@font-face{
    font-family:"Playfair";
    src:url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2");
    font-weight:400;
}

@font-face{
    font-family:"Poppins";
    src:url("../fonts/Poppins-Regular.woff2") format("woff2");
    font-weight:400;
}
.hero{
    height:100vh;
    background-image:url("BGLAND.PNG");
    background-size:cover;
    background-position:center;
    position:relative;
    overflow:hidden;
}
.hero::before{
    content:"";
    position:absolute;
    inset:0;
    background:linear-gradient(
        90deg,
        rgba(35,23,17,.72),
        rgba(35,23,17,.42),
        rgba(35,23,17,.15)
    );
}
.float{
    font-size:15px;
    letter-spacing:5px;
    color:#E8D9CB;
    text-transform:uppercase;
    font-weight:500;
    margin-bottom:12px;
}
.content{
    position:relative;
    z-index:2;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    max-width:650px;
    margin-left:8%;
}
.content h1{
    font-size:92px;
    font-weight:700;
    line-height:.92;
    letter-spacing:-2px;
    margin:18px 0;
    color:white;
    text-shadow:
    0 8px 25px rgba(0,0,0,.35);
}
.content p{
    width:520px;
    font-size:20px;
    line-height:1.8;
    color:#F5EEE8;
    margin-bottom:35px;
}
.hero-buttons{
    margin-top:20px;
}
.primary-btn{

    display:inline-flex;
    align-items:center;
    justify-content:center;

    padding:18px 40px;

    background:#A67C52;
    color:#fff;

    text-decoration:none;

    border-radius:999px;

    font-size:18px;
    font-weight:600;
    letter-spacing:.5px;

    transition:
        transform .35s ease,
        background .35s ease,
        box-shadow .35s ease;

    box-shadow:
        0 12px 30px rgba(0,0,0,.20);

    position:relative;
    overflow:hidden;
}
.primary-btn::before{
    content:"";
    position:absolute;
    left:-120%;
    top:0;
    width:100%;
    height:100%;
    background:linear-gradient(
        120deg,
        transparent,
        rgba(255,255,255,.35),
        transparent
    );
    transition:.6s;
}
.primary-btn:hover{
    background:#8F6744;
    transform:translateY(-5px);
    box-shadow:
    0 18px 45px rgba(0,0,0,.28);
}

.primary-btn:hover::before{
    left:120%;
}
header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:22px 60px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:transparent;
    border-bottom:none;
    transition:all .45s ease;
    z-index:1000;
}

header.scrolled{
    background:rgba(255,248,242,.14);
    backdrop-filter:blur(18px);
    -webkit-backdrop-filter:blur(18px);
    border-bottom:1px solid rgba(255,255,255,.10);
    box-shadow:
        0 10px 30px rgba(0,0,0,.08);
}
header.scrolled .logo{
    color:#5A4336;
}
header.scrolled nav a{
    color:#5A4336;
}
.header.scrolled nav a:hover{
    color:#E9CFAE;
}
.logo{
    font-family:"Playfair Display", serif;
    font-size:34px;
    font-weight:700;
    color:#FFFDFB;
    transition:.35s;
}
.logo:hover{
    color:#F1DFC8;
    letter-spacing:1px;
}
nav{
    position:relative;
    color:white;
    text-decoration:none;   
    font-weight:500;
    transition:
    color .35s ease,
    transform .35s ease,
    text-shadow .35s ease;
    display:flex;
    gap:40px;
    margin-right:70px;
}
nav a{
    font-family:"Poppins", sans-serif;
    font-weight:500;
    position:relative;
    text-decoration:none;
    color:#FFFDFB;
    font-size:18px;
    font-weight:500;
    transition:all .35s ease;
}
nav a::after{
    content:"";
    position:absolute;
    left:50%;
    bottom:-8px;
    width:0;
    height:2px;
    background:linear-gradient(to right,#D8B07A,#F6E7C9,#D8B07A);
    transform:translateX(-50%);
    transition:.35s;
    box-shadow:
    0 0 6px rgba(255,220,170,.7),
    0 0 12px rgba(255,220,170,.35);
}
nav a:hover::after{
    width:100%;
}
nav a.active::before{
    display:none;
}
nav a:hover{
   color:#F7E8D3; /* warm candle beige */
    transform:translateY(-2px);

    /* Candle glow */
    text-shadow:
        0 0 4px rgba(255,245,225,.8),
        0 0 8px rgba(255,230,185,.7),
        0 0 15px rgba(255,210,150,.45);
}
.values{
    background:#F4EFE8;
    padding:8% 120px;
}
.intro{
    max-width:750px;
    margin:0 auto 80px auto;
    text-align:center;
}
.intro h2{
    font-size:58px;
    color:#4A3428;
    margin-bottom:25px;
    line-height:1.1;
    font-family:'Playfair Display',serif;
}
.intro p{
    font-size:19px;
    line-height:1.8;
    color:#6B584C;
}
.value-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:60px;
    max-width:1200px;
    margin:auto;
}
.value-box{
    text-align:left;
}
.value-box h3{
    font-size:28px;
    color:#4A3428;
    margin-bottom:15px;
    margin-left: 10px;
}
.value-box p{
    color:#7B695C;
    line-height:1.8;
    margin-left: 10px;
}
h1,
h2,
h3,
.logo{
    font-family:"Playfair Display", serif;
}
body{
    font-family: "Poppins", sans-serif;
}
.best-sellers{
    background:linear-gradient(
        to bottom,
        #f9f5f1,
        #f3ece4
    );
    padding:120px 8%;
}
.section-heading{
    text-align:center;
    margin-bottom:60px;
}
.section-heading span{
    color:#7A675A;
}
.section-heading h2{
    font-size:50px;
    color:#4A3428;
    margin:15px 0;
}
.section-heading p {
    color:#A67C52;
    letter-spacing:4px;
    text-transform:uppercase;
    font-size:14px;
}
.seller-layout{
    display:flex;
    align-items:flex-start;
    justify-content:space-between;
    gap:60px;
}
.product-card{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height:430px;
    transition:
        transform .45s cubic-bezier(.22,1,.36,1),
        box-shadow .45s cubic-bezier(.22,1,.36,1);
}
.product-grid{
    flex:3;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}
.product-card img{
    width: 220px;
    height:220px;
    object-fit:contain;
    filter: drop-shadow(0 18px 20px rgba(0,0,0,.18));
    transition:.4s;
    display: block;
    margin: 35px auto;
    position: relative;
    z-index: 2;
}
.product-image{
    position:relative;
    height:220px;
    background:#f7f2ec;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    border-bottom:1px solid #EEE6DE;
    transition:background .45s ease;
}
.product-image img{
    width:190px;
    height:auto;
    position:relative;
    z-index:2;
    transition:
        transform .45s ease,
        filter .45s ease;
}
.product-image::before{
    content:"";
    position:absolute;
    width:180px;
    height:180px;
    border-radius:50%;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    background:radial-gradient(circle,
        rgba(214,196,176,.55),
        rgba(214,196,176,.20) 70%,
        transparent 100%);
}
.product-card:hover .product-image img{
    transform:scale(1.06);
}
.product-card:hover{
    transform:translateY(-8px);
    box-shadow:0 22px 45px rgba(0,0,0,.15);
}
.product-info{
    padding:25px;
}
.product-info h3{
    color:#4A3428;
    margin-bottom:10px;
}
.product-info p{
    color:#8B7768;
    margin-bottom:20px;
}
.product-bottom{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.product-bottom span{
    color:#A67C52;
    font-weight:bold;
    font-size:20px;
}
.product-bottom a{
    text-decoration:none;
    color:#4A3428;
    font-weight:bold;
    transition:.3s ease;
}
.product-card:hover .product-bottom a{
    transform:translateX(5px);
    color:#A67C52;
}
.art-side{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
    min-width:260px;
    position:sticky;
    top:120px;
}
.quote{
    text-align:center;
    width:100%;
}
.quote h2{
    font-size:72px;
    color:#4A3428;
    line-height:.95;
    margin-bottom:20px;
    font-weight: 700;
}
.about h2{
    margin-left: 50px;
}
.about p{
    max-width: 800px;
    margin: 10px auto;
    font-size: 18px;
    line-height: 1.6;
    color:#4A3428;
}
.footer{
    font-family: Arial;
    font-size: 13px;
    background-color: #4A3428;
    color: #F8F4EF;
    text-align: center;
    padding: 20px;
}
